@import url('https://unpkg.com/@catppuccin/palette/css/catppuccin.css');

:root {
    --nl-background: #161925;
    --nl-darker-background: #060919;
    --nl-background-contrast: #2a2d38;
    --nl-foreground: #dedaff;
    --nl-red: #fd9b9d;
    --nl-pink: #fcabd7;
    --nl-green: #c4fc83;
    --nl-light-green: #d7fcab;
    --nl-yellow: #fcf9ab;
    --nl-blue: #8387fc;
    --nl-light-blue: #abaefc;
    --nl-purple: #ca9bfd;
    --nl-aqua: #adfcf9;
    --nl-light-aqua: #c7fdfb;
    --nl-white: #e7ecef;
}

a {
    color: var(--ctp-latte-green)
 }

body {
    color: var(--ctp-latte-text);
    background: var(--ctp-latte-base);
    font: 100% "VT323", monospace;
    font-size: 30px;
    max-width: fit-content;
    margin: 2%;
    text-align: justify;
  }

h1 {
    font-family: 'Press Start 2P', system-ui;
    font-size: larger;
    text-align: center;

    text-shadow: 3px 3px var(--ctp-latte-surface1);
    
}
h2 {
    font-family: 'Press Start 2P', system-ui;
    font-size:larger;
    position: relative;

    text-shadow: 3px 3px var(--ctp-latte-surface1);    
    transition: 0.5s ease;
}

h2:hover {
    top: -5px;
    color: var(--ctp-latte-mauve);

}

h2 a {
    text-decoration: none;
    color: var(--ctp-latte-sky);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 1%;
}

li {
    display: inline;
}

img {
    width: 50%;
}


.blue-lavender {
        color: var(--ctp-latte-lavender);
      }

.icon {
    -webkit-transition: all 0.5s;
    transition: all 0.5;
    color: var(--ctp-latte-lavender);
    margin: 0 auto;
    padding: 0 50px;
}

.icon:hover {
    transform: scale(110%);
    color: var(--ctp-latte-mauve);
}

.abouticon {
    color: var(--ctp-latte-text);
    padding: 10px 50px;
}

.logo {
    float: left;
    max-width: fit-content;
    
    border-color: var(--ctp-latte-mauve);
    border-radius: 10%;
    border-style: solid;
    transition: 0.5s ease;
    margin-bottom: 10px;
    margin-right: 1.75%;
}

.logo:hover {
    border-color: var(--ctp-latte-lavender);
    border-image-slice: 1;
    box-shadow: 20px 30px var(--ctp-latte-crust);
    margin-top: -10px;
}

.box {
    transition: 0.5s ease;
    background: linear-gradient(var(--ctp-latte-base), var(--ctp-latte-crust)) padding-box, linear-gradient(var(--ctp-latte-lavender), var(--ctp-latte-mauve)) border-box;
    border-radius: 35px;
    border: 4px solid transparent;
}

.smallbox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 100px;
    
    margin-bottom: auto;

}

.bigbox {
    overflow: auto;
    padding: 0 2%;
    margin-top: 12%;

}

.sideimage {
    max-width: fit-content;
    margin: 2% 3%;
    border: 2px solid;
    border-color: var(--ctp-latte-surface1);
}

.break {
    border-top-style: solid;
    border-color: var(--ctp-latte-surface1);
    display: flex;
    flex-wrap: nowrap;
}

.box:hover {
    border-radius: 20px;
}

.alert {
  padding: 20px;
  background-color: var(--ctp-latte-red);
  color: var(--ctp-latte-text);
  margin-bottom: 15px;
}

.closebutton {
    margin-top: 10px;
    margin-left: 15px;
    color: var(--ctp-latte-text);
    font-weight: bold;
    float: right;
    font-size: 50px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
 }
 
.footer {
    margin-top: 75%;
    padding: 50px;
    border-top-style: solid;
    border-color: var(--ctp-latte-surface1);
}

@media (prefers-color-scheme: dark) {
    body {
      color: var(--nl-foreground);
      background: var(--nl-background);
    }
    
    a {
        color: var(--nl-green)
    }

    h1 {
        text-shadow: 3px 3px var(--nl-background-contrast);
    }

    h2 {
        text-shadow: 3px 3px var(--nl-background-contrast);
    }

    h2:hover {
        color: var(--nl-purple);
    }

    h2 a {
        color: var(--nl-aqua);
    }
  
    .blue-lavender {

        color: var(--nl-blue);
      }

    .icon {
        color: var(--nl-blue)
    }
    .icon:hover {

        color: var(--nl-purple)
    }

    .logo {
        border-color: var(--nl-purple);

    }

    .logo:hover {

        border-color: var(--nl-blue);
        box-shadow: 20px 20px 0px var(--nl-darker-background);
    }

    .box {
        background: linear-gradient(var(--nl-background), var(--nl-darker-background)) padding-box, linear-gradient(var(--nl-blue), var(--nl-purple)) border-box;
    }

    .break {
        border-color: var(--nl-background-contrast);
    }

    .sideimage {
        border-color: var(--nl-background-contrast);
    }

    .alert {
        color: var(--nl-foreground);
        background-color: var(--nl-red);
    }

    .closebutton {
        color: var(--nl-foreground);
    }
    
    .footer {
        border-color: var(--nl-background-contrast);
    }

  }
/* Cattppuccin mocha version, will save for later */
/*
@media (prefers-color-scheme: dark) {
    body {
      color: var(--ctp-mocha-text);
      background: var(--ctp-mocha-base);
    }

    h1 {
        text-shadow: 3px 3px var(--ctp-mocha-surface1);
    }
  
    .blue-lavender {

        color: var(--ctp-mocha-lavender);
      }

    .icon {
        color: var(--ctp-mocha-lavender)
    }
    .icon:hover {

        color: var(--ctp-mocha-mauve)
    }

    .logo {
        border-color: var(--ctp-mocha-mauve);
    }

    .logo:hover {

        border-color: var(--ctp-mocha-lavender);
        box-shadow: 20px 20px 0px var(--ctp-mocha-crust);
    }

    .smallbox {
        background: linear-gradient(var(--ctp-mocha-base), var(--ctp-mocha-crust)) padding-box, linear-gradient(var(--ctp-mocha-lavender), var(--ctp-mocha-mauve)) border-box;
    }

    .alert {
        color: var(--ctp-mocha-text);
        background-color: var(--ctp-mocha-red);
    }

    .closebutton {
        color: var(--ctp-mocha-text);
    }
    
    .link {
        color: var(--ctp-mocha-green)
    }
    .footer {
        border-color: var(--ctp-mocha-surface1);
    }

  }
*/
